body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: URL('https://preview.colorkit.co/color/212020.png?size=wallpaper&static=true');
    background-color: #212020;
  }

h2{
    color:red;
    font-size: 1.5rem;
}

p{
  font-size: 1rem;
  color:red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    position:static;
    bottom: 20px;
    left: 20px;
    font-size: 48px;
      font-weight:bold;
      color: red ;
  }
  
  @media (max-width: 768px) {
    h1 {
        font-size: 2rem; /*sirve para que el tamaño del titulo cambie de tamaño con la ventana*/
    }
}

  .fondo {
    width: 100%;
    height: 300px;  
    background-image: URL('integrantes-fondo.jpg');
    filter: brightness(0.7);
  transition: transform 0.3s ease;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.integrantes{
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}  

.integrantes h2{
  font-weight:bold;
 
  }
  
.integrantes img {
  max-width: 90%; /* Ejemplo de unidad relativa */
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}  

.integrantes img:hover {
  transform: scale(1.05);
}

